git config --global user.name "IndranilNandy"
git config --global user.email "${USER}@$(hostname)"

# Note: We need to provide -w options, otherwise the 'git commit' wouldn't wait for the editor
# Ref. https://stackoverflow.com/questions/9725160/aborting-commit-due-to-empty-commit-message
git config --global core.editor "code -w"