/nfsroot    serv-worker1(rw,sync,no_subtree_check) serv-worker2(rw,sync,no_subtree_check)
/home       serv-worker1(rw,sync,no_subtree_check) serv-worker2(rw,sync,no_subtree_check)
/test1      serv-worker1(rw,sync,no_subtree_check) serv-worker2(rw,sync,no_subtree_check)